.labeled-input {
    width: 100%;
    text-align: left;
    margin-top: 10px;
}

.labeled-input .input {
    margin-top: 2px;
}

.labeled-input p {
    margin: 0 0 3px 0;
    text-align: left;
}

@media (max-width:768px){
    .labeled-input p{
        font-size: 15px;
    }

    .labeled-input{
        margin: 10px auto;
    }
}
